.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-conatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-conatiner{
    background-color: rgba(255, 153, 0, 0.3);
    
}

.cart-conatiner button{
    margin-left: 20px;
    position: fixed;
}


@media screen and (max-width:900px) {
    .products-conatiner{
        grid-template-columns: repeat(2,1fr);
    }
    
}

