.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-conatiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}

@media screen and (max-width:1300px) {
    .products-conatiner{
        grid-template-columns: repeat(2,1fr);
    }
    
}